.cards-container {
    /* display: inline; */
    /* display: flex !important; */
    /* flex-wrap: wrap;
    display: flex;
    grid-template-columns: repeat(3,1fr);
    gap: 16px; */

    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.cards {
    flex:1 1 calc(33.333% - 16px);
    box-sizing: border-box; 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    max-width: 1 1 calc(33.333% - 16px);
}

.cards-img {
    max-width: 100px;
    border-radius: 5px;
}

